<div class="modal-dialog modal-lg" *ngIf=flag>
    <div class="modal-content">

        <div class="modal-header booking_header">
            <button type="button" class="close" (click)="modal_close()">&times;</button>
            <h2 class="modal-title text-center">Booking Details</h2>
        </div>
        <div class="modal-body">
            <div class="row">
                <label class="col-xs-4 captalize">Subject</label>
                <div class="col-xs-8">: {{bookingDetails.Subject}}</div>
            </div>
            <div class="row">
                <label class="col-xs-4 captalize">Booking ID</label>
                <div class="col-xs-8">: {{bookingDetails.BookingID}}</div>
            </div>
            <div class="row">
                <label class="col-xs-4 captalize">createdBy</label>
                <div class="col-xs-8">: {{bookingDetails.CreatedBy}}</div>
            </div>
            <div class="row">
                <label class="col-xs-4 captalize">Creation Time</label>
                <div class="col-xs-8">: {{bookingDetails.TimeStamp}}</div>
            </div>
            <div class="row">
                <label class="col-xs-4 captalize">description</label>
                <div class="col-xs-8">: {{bookingDetails.Description}}</div>
            </div>
            <div class="row">
                <label class="col-xs-4 captalize">Location</label>
                <div class="col-xs-8">: {{bookingDetails.LocationName}}</div>
            </div>
            <div class="row">
                <label class="col-xs-4 captalize">room</label>
                <div class="col-xs-8">: {{bookingDetails.RoomName}}</div>
            </div>

        </div>
        <div class="modal-footer" *ngIf="enableDeleteOptions()">
            <button class="btn btn-primary" (click)="updateBooking()">Edit</button>
            <button class="btn btn-danger" [disabled]="buttonClicked" (click)="delete()">delete entire booking</button>
            <button class="btn btn-danger" [disabled]="buttonClicked" (click)="deleteSlot()">delete selected slot</button>
            <button type="button" class="btn btn-default" (click)="modal_close()">Close</button>
        </div>

    </div>
</div>


